<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="lib/angular-translate/angular-translate.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/flex-calendar/dist/flex-calendar.css">


    <!-- LIBS -->
    <script src="lib/flex-calendar/dist/flex-calendar.js" type="text/javascript"></script>
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="CalendarController">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Semplice Calendario using flex-calendar</h1>
      </ion-header-bar>
      <ion-content>
          <flex-calendar options="calendar.options" events="calendar.events"></flex-calendar>
          <!-- <button class="button padding button-full button-balanced" ng-click="aggiungiEvento()">Aggiungi evento</button> -->
         
          <button class="button padding button-full button-assertive" ng-click="emptyCalendar()">
            Svuota calendario
          </button>
          <ion-list>
            <ion-item ng-repeat="event in listaEventi">
              {{event.evento}}
            </ion-item>
          </ion-list>
      </ion-content>
       <div class="float-button" ng-click="aggiungiEvento()">
            <span class="height-fix">
              <a class="content">
                <i class="ion-plus-round"> </i>
              </a>
            </span>
          </div>
    </ion-pane>
  </body>
</html>
